@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf');
}
@font-face {
    font-family: 'RobotoL';
    src: local('RobotoL'), local('RobotoL'),
        url('gothampro-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoB';
    src: local('RobotoB'), local('RobotoB'),
        url('RobotoB.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: local('RobotoMedium'), local('RobotoMedium'),
        url('gothampro-light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}